In [26]:
import pandas as pd

### Вакансии с сайта hh.ru

In [49]:
df_file = 'hh_vacancies_Data_engineer.csv'

In [50]:
# !ls

In [51]:
df = pd.read_csv(df_file)

In [52]:
df.tail()

,site,vacancy_url,vac_class,title,company,city,compensation_min,compensation_max,currency
75,https://hh.ru,https://hh.ru/vacancy/49005874,vacancy_standard_plus,Data Engineer,Точка,Екатеринбург,NaN,200000.0,RUB
76,https://hh.ru,https://hh.ru/vacancy/48837237,vacancy_standard,Data Engineer,Playkot,Москва,200000.0,370000.0,RUB
77,https://hh.ru,https://hh.ru/vacancy/49589425,vacancy_standard_plus,Data engineer (middle/senior),HR Prime,Москва,200000.0,350000.0,RUB
78,https://hh.ru,https://hh.ru/vacancy/49186295,vacancy_standard_plus,Data engineer,ООО Ок Софт,Москва,220000.0,NaN,RUB
79,https://hh.ru,https://hh.ru/vacancy/49497206,vacancy_standard_plus,Data Engineer / ETL Developer,Renaissance Capital,Москва,NaN,250000.0,RUB

In [31]:
pd.DataFrame({'nn': [1, 2, 3, 4], 'pp': [5,6,7,8]})

   nn  pp
0   1   5
1   2   6
2   3   7
3   4   8

### Продукты с сайта Росконтроль.рф

In [55]:
filename = 'roscontrol_goods.csv'
df_goods_rc = pd.read_csv(filename)

In [56]:
df_goods_rc

,title,security,nature,nutritional_value,quality,rate,site,page
0,"""Раменский деликатес"" ""Сервелат Коньячный""",74,80,28,66,62,http://Росконтроль.рф,http://Росконтроль.рф/product/ramenskiy-delika...
1,"""БахрушинЪ"", ""Сервелат Коньячный""",64,35,0,59,40,http://Росконтроль.рф,http://Росконтроль.рф/product/bahrushin-servel...
2,"Колбаса полукопченая ""Мираторг"", ""Краковская"",...",77,65,0,58,50,http://Росконтроль.рф,http://Росконтроль.рф/product/kolbasa-polukopc...
3,"""Велком"", сервелат финский",58,12,0,36,27,http://Росконтроль.рф,http://Росконтроль.рф/product/velkom-servelat-...
4,"""Рублевский"", сервелат финский",54,55,0,53,41,http://Росконтроль.рф,http://Росконтроль.рф/product/rublevskiy-serve...
...,...,...,...,...,...,...,...,...
65,"Колбаса полукопченая ""Краковская""",0,0,0,0,0,http://Росконтроль.рф,http://Росконтроль.рф/product/kolbasa-polukopc...
66,"Колбаса полукопченая ""Клинский Мясокомбинат"", ...",0,0,0,0,0,http://Росконтроль.рф,http://Росконтроль.рф/product/krakovskaya/
67,"Колбаса варено-копченая ""Снежана"", Сервелат фи...",0,0,0,0,0,http://Росконтроль.рф,http://Росконтроль.рф/product/snegana-servelat...
68,"Колбаса полкопченая ""Останкино"", Венская салями",0,0,0,0,0,http://Росконтроль.рф,http://Росконтроль.рф/product/ostankino-venska...
69,"Колбаса варено-копченая ""Микоян"", Сервелат фин...",0,0,0,0,0,http://Росконтроль.рф,http://Росконтроль.рф/product/mikoyan-finskiy-...